*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  height: 100px;
}

.task-header, .create-task-button{
  margin: 20px;
}

li {
  list-style: none;
  margin: 10px 0;
}

.li-heading {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0%;
}

.container{
  display: flex;
  flex-flow: column wrap;
  height: calc(100vh - 100px);
  margin: 10px;
  max-width: 100vh;
  align-content: space-between;
}

.task-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 10px;
  }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 2%;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.task-item{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 10px;
}

.task-item-child {
  width: 100%;
}

.top-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.top-row-child-delete {
  margin-left: 10%;
}

.top-row-child-edit {
  margin-left: auto;
}